@model dynamic

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Model.Title</h4>
            <canvas id="@Model.ChartId"></canvas>
        </div>
    </div>
</div>


